In [1]:
import pandas as pd

In [2]:
house=pd.read_csv('kc_house_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [3]:
train=pd.read_csv('kc_house_train_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})
test=pd.read_csv('kc_house_test_data.csv', dtype= {'bathrooms':float, 'waterfront':int, 'sqft_above':int, 'sqft_living15':float, 'grade':int, 'yr_renovated':int, 'price':float, 'bedrooms':float, 'zipcode':str, 'long':float, 'sqft_lot15':float, 'sqft_living':float, 'floors':str, 'condition':int, 'lat':float, 'date':str, 'sqft_basement':int, 'yr_built':int, 'id':str, 'sqft_lot':int, 'view':int})

In [4]:
def closed_form(features,labels):
    numerator=(features*labels).sum()-(features.sum())*(labels.sum())/len(labels)
    denominator=((features**2).sum())-(features.sum())*(features.sum())/len(labels)
    slope=numerator/denominator
    intercept=(labels.mean())-slope*(features.mean())
    return intercept,slope

In [5]:
sqft_intercept,sqft_slope=closed_form(train['sqft_living'],train['price'])
bed_intercept,bed_slope=closed_form(train['bedrooms'],train['price'])

In [6]:
def predict(feature,slope,intercept):
    price=feature*slope+intercept
    return price

In [7]:
pre_price=predict(train['sqft_living'],sqft_slope,sqft_intercept)

In [8]:
test['prediction']=pre_price

In [9]:
test.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,prediction
0,0114101516,20140528T000000,310000.0,3.0,1.0,1430.0,19901,1.5,0,0,...,1430,0,1927,0,98028,47.7558,-122.229,1780.0,12697.0,285595.351691
1,9297300055,20150124T000000,650000.0,4.0,3.0,2950.0,5000,2,0,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140.0,4000.0,677518.138777
2,1202000200,20141103T000000,233000.0,3.0,2.0,1710.0,4697,1.5,0,0,...,1710,0,1941,0,98002,47.3048,-122.218,1030.0,4705.0,169992.227442
3,8562750320,20141110T000000,580500.0,3.0,2.5,2320.0,3980,2,0,0,...,2320,0,2003,0,98027,47.5391,-122.070,2580.0,3980.0,505523.246603
4,7589200193,20141110T000000,535000.0,3.0,1.0,1090.0,3000,1.5,0,0,...,1090,0,1929,0,98117,47.6889,-122.375,1570.0,5080.0,426574.771506

In [10]:
pre_2650=predict(2650,sqft_slope,sqft_intercept)

In [11]:
pre_2650

700074.8459475137

In [12]:
def cal_rss(slope,intercept,feature,real_label):
    rss=((real_label-(slope*feature+intercept))**2).sum()
    return rss

In [13]:
sqftrss=cal_rss(sqft_slope,sqft_intercept,train['sqft_living'],train['price'])
bedrss=cal_rss(bed_slope,bed_intercept,train['bedrooms'],train['price'])

In [14]:
sqftrss,bedrss

(1201918354177286.2, 2143244498162069.0)

In [15]:
def invert_sqft(slope,intercept,output):
    sqft=(output-intercept)/slope
    return sqft

In [16]:
invert_sqft(sqft_slope,sqft_intercept,800000)

3004.3962451522766